  
.heather {

    background-color: rgb(255, 255, 255);
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    
    }
    
    ul {
        list-style-type:none;
        margin: 0px;
        padding: 20px;
        flex-basis: 100wv;
        background-color:#ffffff;
        border: 2px solid orange
        color(srgb red green blue)
    }
    
    li a {
        color: rgb(227, 137, 226);
        font-size: large;
        padding: 8px 16px;
        text-decoration: none;
        display:inline;
    }
    
    li {
        text-align: center;
        display: inline;
        height: 30px;
        
    }
    
    li:last-child {
        border-bottom: none;
    }
    
    li a.active {
        background-color: #cfd1dd;
        color: white;
    }
    
    li a:hover:not(.active) {
        background-color: rgba(255, 166, 0, 0.315);
        color: rgba(255, 255, 255, 0.693);
        border-radius: 10px;
    }
    
    .pageheader{
        height: 100px;
        background-color: rgb(255, 255, 255);
    }

    body{

        text-align: center;
.text1 {
    
    text-align:center
    display: flex
}

    .kläder1{

        display: ;inline-size: auto;
    }

    .kläder2{

        display: ;inline-size:auto;
        text-align: center;
    }

  



    }

    .hejhej{
        display: flex;
        flex-direction: row;
        padding: 30px;
    }
    
    .hej2{
        font-size: 30px;
        padding-left: 350px;
    }
    
    .hej1{
        font-size: 30pxd;
        padding-left: 300px;
    }

    .hejhej2{
        display: flex;
        flex-direction: row;
        padding: 30px;
    }
    
    .hej4{
        font-size: 20px;
        padding-left: 350px;
    }
    
    .hej3{
        font-size: 20px;
        padding-left: 410px;
    }



.hejhej2{
    display: flex;
    flex-direction: row;
    padding: 100px;
}

.hej4{
    font-size: 30px;
    padding-left: 350px;
}

.hej5{
    font-size: 30pxd;
    padding-left: 300px;
}

.hejhej6{
    display: flex;
    flex-direction: row;
    padding: 30px;
}

.hej7{
    font-size: 20px;
    padding-left: 350px;
}

.hej8{
    font-size: 20px;
    padding-left: 410px;
}